*
{
    /* Avoid some issues with double-clicks over the canvas initiating drags.*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body
{
    text-align: center;
    align-content: center;
    background-color: #101010;
    color: gray;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* For the HTML5 canvas that displays RallySportED's render output.*/
.canvas
{
    cursor: url("rsed-cursor.png"), auto;
    background-color: #101010;
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    padding: 0;
    margin: 0;
}

/* A container for the HTML5 canvas into which RallySportED renders.*/
.canvas_container
{
    width: 99.1vw;
    height: 100vh;
    background-color: #101010;
    display: inline-block;
    z-index: 2;
    padding: 0;
    margin: 0;
}

/* For the track info display, at the top of the page.*/
.title_container
{
    visibility: hidden;
    background-color: #101010;
    display: inline-block;
    line-height: 200%;
    width: auto;
    height: auto;
    padding: 90px;
    padding-bottom: 5px;
    padding-top: 20px;
}

.title_container .track_name
{
    z-index: 1;
    position:relative;
    letter-spacing: 1px;
    font-family: 'Knewave', sans-serif;
    color: rgb(179, 112, 25);
    font-size: 280%;
}

.title_container .button
{
    display: inline-block;
    vertical-align: text-bottom;
    font-variant: small-caps;
    font-family: 'Proza Libre', sans-serif;
    font-size: 90%;
    margin-left: 7px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
    padding: 0px 11px;
    text-decoration: none;
}

.title_container .button:hover
{
    color: rgb(241, 241, 241);
}

.title_container .button:active
{
    transform: translateY(2px);
}

.disclaimer
{
    font-family: 'Proza Libre', sans-serif;
    font-variant: small-caps;
    margin-top: -10px;
    margin-bottom: 0px;
    color: rgb(134, 134, 134);
    text-align:center;
    font-size: 70%;
    z-index: 0;
    position:relative;
}

.disclaimer a
{
    color: rgb(134, 134, 134);
    text-decoration: none;
}

.disclaimer a:hover
{
    color: rgb(134, 134, 134);
    text-decoration: underline;
}