@font-face
{
    font-family: "Comic Sans (server-side)";
    src: url("/rallysport-content/api/fonts/comic-sans/comic-sans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "Comic Sans (server-side)";
    src: url("/rallysport-content/api/fonts/comic-sans/comic-sans-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

*
{
    /* Avoid some issues with double-clicks over the canvas initiating drags.*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body
{
    font-family: sans-serif;
    cursor: url("./client/assets/cursors/rsed-cursor.png"), auto;
    text-align: center;
    align-content: center;
    background-color: #a8a8a8;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    background-size: 20px 20px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
}

/* For the HTML5 canvas that displays RallySportED's render output.*/
.canvas
{
    background-color: transparent;
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    padding: 0;
    margin: 0;
}

/* A container for the HTML5 canvas into which RallySportED renders.*/
.canvas_container
{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#html-ui
{
    font-family: "Comic Sans (server-side)", sans-serif;
    background-color: transparent;
    display: flex;
    line-height: 180%;
    width: auto;
    height: auto;
    padding: 0;
    position: absolute;
    left: 15px;
    top: 15px;
    filter: drop-shadow(0 1px 0px rgba(0, 0, 0, 0.3));
}

#html-ui #track-name-display
{
    font-weight: bold;
    font-size: 180%;
    text-transform: capitalize;
}

#html-ui #button-bar
{
    display: flex;
    margin-left: 16px;
}

#html-ui .button
{
    cursor: pointer;
    color: black;
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 85%;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgb(192, 192, 192);
    background-color: rgb(170, 170, 170);
    background-image: linear-gradient(rgb(170, 170, 170), rgb(133, 133, 133));
}

#html-ui .button > a
{
    color: inherit;
    text-decoration: none;
}

#html-ui .button.disabled
{
    cursor: not-allowed;
    color: lightgray;
    background-image: none;
    border-bottom: none;
    text-decoration: line-through wavy rgba(0, 0, 0, 0.3);
}

#html-ui .button.left
{
    border-radius: 10px 0 0 10px;
    padding: 0 10px 0 15px;
}

#html-ui .button.middle
{
    border-radius: 0;
    padding: 0 10px 0 10px;
}

#html-ui .button.right
{
    border-radius: 0 10px 10px 0;
    padding: 0 15px 0 10px;
}

#html-ui .button.enabled:hover
{
    background-color: rgba(255, 255, 255, 0.4);
    background-image: linear-gradient(rgb(190, 190, 190), rgb(133, 133, 133));
}

#html-ui .button.enabled:active
{
    border-bottom: none;
    background-image: linear-gradient(rgb(133, 133, 133), rgb(170, 170, 170));
}

#html-ui .disclaimer
{
    font-variant: small-caps;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 90%;
    line-height: 13px;
}

#html-ui .disclaimer a
{
    color: inherit;
    text-decoration: none;
}

#html-ui .disclaimer a:hover
{
    color: white;
    text-decoration: underline;
}

/* For dropdown menus. Adapted from https://www.w3schools.com/howto/howto_js_dropdown.asp. */
.dropdown-menu
{
    cursor: pointer;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    border: none;
    z-index: 3;
    border-radius: 10px;
    display: none;
    padding: 10px;
    box-shadow: 0 5px 10px -4px black;
}

/* A left-pointing arrow on the left edge of the dropdown menu. Adapted
 * from http://www.cssarrowplease.com/.*/
.dropdown-menu:after {
	right: 99.5%;
	top: 29%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-right-color: white;
	border-width: 16px;
	margin-top: -16px;
}

.dropdown-menu > .item
{
    text-transform: capitalize;
    color: black;
    padding: 3px 20px;
    border-radius: 6px;
    white-space: nowrap;
}

.dropdown-menu > .item:hover
{
    background-color: black;
    color: white;
    box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.65);
    transform: scale(1.05);
}

.dropdown-menu.show
{
    display: block;
}

#popup-notification-container
{
    width: 300px;
    height: auto;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: flex;
    flex-direction: column;
}

#popup-notification-container .popup-notification
{
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    margin-top: 8px;
    border-radius: 20px 0 20px 20px;
    word-wrap: break-word;
    color: black;
    background-color: gold;
    box-shadow: 0 5px 10px -4px black;
}

#popup-notification-container > .popup-notification:not(:last-child)
{
    border-radius: 20px 0 0 20px;
    width: 95%;
    padding: 17px;
    margin-left: 20px;
    font-size: 90%;
    opacity: 0.9;
}

#popup-notification-container > .popup-notification:first-child
{
    border-radius: 20px 20px 0 20px;
}

#popup-notification-container > .popup-notification:only-child
{
    border-radius: 20px 0 20px 20px;
}

#popup-notification-container .popup-notification.warning
{
    color: black;
    background-color: white;
}

#popup-notification-container .popup-notification.error
{
    background-color: black;
    border: 1px dashed white;
    color: white;
}

[v-cloak]
{
    display: none !important;
}

.animation-flip
{
    animation-name: animation-flip-frames;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
}

.animation-popup-slide-in
{
    animation-name: animation-popup-slide-in-frames;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
}

@keyframes animation-flip-frames
{
    0% { transform: rotateX(90deg); }
    100% { transform: rotateX(0deg); }
}

@keyframes animation-popup-slide-in-frames
{
    0% { opacity: 0; transform: translateX(80px); }
    100% { opacity: 1; transform: translateX(0px); }
}


@media only screen and (max-width: 1500px)
{
    #popup-notification-container
    {
        right: 120px;
        bottom: 40px;
    }
}

@media only screen and (max-width: 1100px)
{
    #popup-notification-container
    {
        bottom: 0px;
        right: 45px;
    }
}
