<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="index.css">
        <link rel="stylesheet" type="text/css" href="index-responsive.css">
        <link rel="stylesheet" type="text/css" href="animations.css">
        <link href="https://fonts.googleapis.com/css?family=Catamaran|Permanent+Marker|Cabin|Montserrat" rel="stylesheet">
        <title>RallySportED (beta.10, web-beta.5~dev)</title>
    </head>
    <body>
        <div id="html-ui" v-if="uiVisible" v-cloak>
            <span id="track-name-display">&ldquo;{{trackName.length? trackName : ""}}&rdquo;</span>

            <span class="button"
                  onclick="Rsed.core.current_project().save_to_disk();"
                  style="background-color: white;
                         color: black;">
                Save to disk
            </span>

            <span class="button"
               style="background-color: rgb(231, 100, 100);
                      color: white;
                      transform: none;
                      border-radius: 10px 1px 10px 10px;
                      text-decoration: line-through;
                      cursor: not-allowed;"
               title="Rally-Sport Content is temporarily down!">
                More tracks
            </span>

            <div class="disclaimer">
                rallysported &copy; tarpeeksi hyvae soft. rally-sport &copy; jukka jäkälä.
                <a href="./user-guide/" target="_blank" rel="noopener">user's guide</a> &#9656;
            </div>

            <div id="prop-dropdown" class="dropdown-menu">
                <div class="item"
                     v-for="prop in propList"
                     v-on:click="activate_prop(prop.propName)">{{prop.propName}}</div>
            </div>
        </div>

        <div id="render_container" class="canvas_container"
             ondrop="window.drop_handler(event);" ondragover="event.preventDefault();">
             <canvas id="render-canvas" class="canvas"></canvas>
        </div>

        <div id="popup-notification-container"></div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
        <script src="./client/js/rallysported.cat.js" defer></script>
    </body>
</html>
