@font-face
{
    font-family: "Comic Sans (server-side)";
    src: url("/rallysport-content/fonts/comic-sans/comic-sans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "Comic Sans (server-side)";
    src: url("/rallysport-content/fonts/comic-sans/comic-sans-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

*
{
    /* Avoid some issues with double-clicks over the canvas initiating drags.*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body
{
    text-align: center;
    align-content: center;
    background-color: #101010;
    color: gray;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* For the HTML5 canvas that displays RallySportED's render output.*/
.canvas
{
    cursor: url("./client/assets/cursors/rsed-cursor.png"), auto;
    background-color: #101010;
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    padding: 0;
    margin: 0;
}

/* A container for the HTML5 canvas into which RallySportED renders.*/
.canvas_container
{
    width: 99.1vw;
    height: 100vh;
    background-color: #101010;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#html-ui
{
    font-family: "Comic Sans (server-side)", sans-serif;
    background-color: transparent;
    display: inline-block;
    line-height: 200%;
    width: auto;
    height: auto;
    padding: 90px;
    padding-bottom: 5px;
    padding-top: 25px;
}

#html-ui #track-name-display
{
    font-weight: bold;
    color: white;
    font-size: 260%;
}

#html-ui .button
{
    font-weight: bold;
    color: black;
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 80%;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 16px 16px 16px 2px;
    padding: 0px 12px;
    text-decoration: none;
    transform: translateY(-12px);
}

#html-ui .button:active
{
    transform: translateY(-11px) translateX(-2px) scale(0.98);
}

#html-ui .disclaimer
{
    font-variant: small-caps;
    margin-top: 5px;
    margin-bottom: 0px;
    color: lightgray;
    text-align: center;
    font-size: 80%;
    line-height: 13px;
}

#html-ui .disclaimer a
{
    color: inherit;
    text-decoration: none;
}

#html-ui .disclaimer a:hover
{
    color: white;
    text-decoration: underline;
}

/* For dropdown menus. Adapted from https://www.w3schools.com/howto/howto_js_dropdown.asp. */
.dropdown-menu
{
    cursor: url("./client/assets/cursors/rsed-cursor.png"), auto;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f0f2f0;
    border: none;
    z-index: 3;
    border-radius: 10px;
    display: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 60px;
}

/* A left-pointing arrow on the left edge of the dropdown menu. Adapted
 * from http://www.cssarrowplease.com/.*/
.dropdown-menu:after {
	right: 99.5%;
	top: 29%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-right-color: #f0f2f0;
	border-width: 16px;
	margin-top: -16px;
}

.dropdown-menu > .item
{
    text-transform: capitalize;
    color: black;
}

.dropdown-menu > .item:hover
{
    font-weight: bold;
}

.dropdown-menu.show
{
    display: block;
}

#popup-notification-container
{
    width: 300px;
    height: auto;
    position: fixed;
    bottom: 60px;
    right: 200px;
    display: flex;
    flex-direction: column;
}

#popup-notification-container > .popup-notification:not(:last-child)
{
    width: 97%;
    padding: 17px;
    margin-left: 15px;
    font-size: 90%;
}

#popup-notification-container .popup-notification
{
    width: 100%;
    height: auto;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    margin-top: 8px;
    border-radius: 20px;
    border-top-left-radius: 2px;
    border: 1px solid black;
    line-height: 140%;
    word-wrap: break-word;
    color: black;
    background-color: gold;
}

#popup-notification-container .popup-notification.warning
{
    color: black;
    background-color: gold;
}

#popup-notification-container .popup-notification.error
{
    background-color: black;
    border: 1px dashed white;
    color: white;
}

[v-cloak]
{
    display: none !important;
}
