*
{
    /* Avoid some issues with double-clicks over the canvas initiating drags.*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body
{
    text-align: center;
    align-content: center;
    background-color: #101010;
    color: gray;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* For the HTML5 canvas that displays RallySportED's render output.*/
.canvas
{
    cursor: url("./client/assets/cursors/rsed-cursor.png"), auto;
    background-color: #101010;
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    padding: 0;
    margin: 0;
}

/* A container for the HTML5 canvas into which RallySportED renders.*/
.canvas_container
{
    width: 99.1vw;
    height: 100vh;
    background-color: #101010;
    display: inline-block;
    z-index: 2;
    padding: 0;
    margin: 0;
}

#html-ui
{
    background-color: #101010;
    display: inline-block;
    line-height: 200%;
    width: auto;
    height: auto;
    padding: 90px;
    padding-bottom: 5px;
    padding-top: 20px;
}

#html-ui #track-name-display
{
    letter-spacing: 1px;
    font-family: 'Permanent Marker', sans-serif;
    font-weight: bold;
    color: rgb(179, 112, 25);
    font-size: 260%;
}

#html-ui .button
{
    display: inline-block;
    vertical-align: text-bottom;
	font-variant: small-caps;
    font-family: 'Catamaran', sans-serif;
    font-size: 80%;
    margin-left: 5px;
    color: rgba(0,0,0,0.9);
    cursor: pointer;
    border-radius: 2px;
    padding: 0px 12px;
    text-decoration: none;
}

#html-ui .button:active
{
    transform: translateY(2px) scale(0.99);
}

#html-ui .disclaimer
{
    font-family: 'Cabin', sans-serif;
    font-variant: small-caps;
    margin-top: -10px;
    margin-bottom: 0px;
    color: rgb(134, 134, 134);
    text-align:center;
    font-size: 70%;
    z-index: 0;
    position:relative;
}

#html-ui .disclaimer a
{
    color: rgb(134, 134, 134);
    text-decoration: none;
}

#html-ui .disclaimer a:hover
{
    color: rgb(134, 134, 134);
    text-decoration: underline;
}

/* For dropdown menus. Adapted from https://www.w3schools.com/howto/howto_js_dropdown.asp. */
.dropdown-menu
{
    cursor: url("./client/assets/cursors/rsed-cursor.png"), auto;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f0f0f0;
    z-index: 3;
    border-radius: 20px;
    border-top-left-radius: 4px;
    display: none;
}

.dropdown-menu > .header
{
    color: black;
    text-align: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 10px;
    background-color: rgb(162, 214, 57);
    margin-bottom: 10px; /* Separate the header from the first item.*/
}

.dropdown-menu > .item
{
    text-transform: capitalize;
    color: black;
    padding: 1px;
    padding-left: 20px;
    padding-right: 80px;
}

.dropdown-menu > .item:last-of-type
{
    margin-bottom: 10px;
}

.dropdown-menu > .item:hover
{
    background-color: rgb(162, 214, 57);
    transform: scale(1.16);
    border-radius: 10px;
}

.dropdown-menu.show
{
    display: block;
}

#popup-notification-container
{
    width: 300px;
    height: auto;
    position: fixed;
    bottom: 60px;
    right: 200px;
    display: flex;
    flex-direction: column;
}

#popup-notification-container > .popup-notification:not(:last-child)
{
    width: 97%;
    padding: 17px;
    margin-left: 15px;
    font-size: 90%;
}

#popup-notification-container .popup-notification
{
    width: 100%;
    height: auto;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    margin-top: 8px;
    border-radius: 20px;
    border-top-left-radius: 2px;
    border: 1px solid black;
    line-height: 140%;
    word-wrap: break-word;
    color: black;
    background-color: gold;
}

#popup-notification-container .popup-notification.warning
{
    color: black;
    background-color: gold;
}

#popup-notification-container .popup-notification.error
{
    background-color: black;
    border: 1px dashed white;
    color: white;
}

[v-cloak]
{
    display: none !important;
}
