:root
{
    --header-height: 80px;
    --side-panel-width: 330px;
    --content-margin: 20px;
    --content-top-margin: 35px;
    --content-border-radius: 10px;
}

body
{
    font-family: "Roboto Slab";
    text-align: center;
    align-content: center;
    background-color: white;
    color: black;
    padding: 0;
    margin: 0;
}

header
{
    border-bottom: 1px solid lightgray;
    font-family: "Lato";
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    background-color: whitesmoke;
    padding-left: calc(10px + 10%);
    padding-right: calc(10px + 10%);
    text-align: left;
    font-weight: bold;
    font-size: 160%;
    color: black;
    white-space: normal;
    height: var(--header-height);
    position: sticky;
}

header .software-tag
{
    margin-left: auto;
    font-size: 60%;
    font-weight: normal;
}

a
{
    text-decoration: none;
    color: inherit;
}

a:hover
{
    text-decoration: underline;
}

.guide-side-panel
{
    box-sizing: border-box;
    position: fixed;
    z-index: 0;
    top: var(--header-height);
    left: 10%;
    background-color: transparent;
    width: var(--side-panel-width);
    text-align: left;
    padding: 10px;
    padding-top: var(--content-top-margin);
    margin-right: 0;
    height: calc(100% - 100px);
    overflow-y: auto;
    height: calc(100% - var(--header-height) - var(--content-top-margin));
}

.guide-side-panel ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.guide-side-panel li
{
    counter-increment: line;
    padding-bottom: 4px;
    padding-top: 4px;
}

.guide-side-panel li a
{
    padding-bottom: 4px;
    padding-top: 4px;
}

.guide-side-panel li::before
{
    content: counter(line) ". ";
}

.guide-side-panel li:first-of-type
{
    padding-top: 0;
}

.guide-topics
{
    margin: var(--content-margin);
    margin-top: var(--content-top-margin);
    margin-left: 5px;
    width: 100%;
    max-width: 45%;
    min-width: 850px;
    padding: 0;
    background-color: transparent;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    position: relative;
    left: calc(10% + var(--side-panel-width));
    top: 0;
    z-index: 0;
}

.guide-topic
{
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
}

.guide-topic:first-of-type
{
    margin-top: 0;
}

.guide-topic li
{
    margin-top: 10px;
}

.guide-topic *:not(img):last-of-type
{
    margin-bottom: 0;
}

.guide-topic img
{
    display: block;
    margin: var(--content-margin);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 0;
    max-width: 100%;
    width: 65%;
    box-sizing: border-box;
}

.guide-topic > table img
{
    all: initial;
}

.guide-topic > table
{
    margin: auto;
    margin-top: var(--content-margin);
    margin-bottom: var(--content-margin);
}

.guide-topic h1,
.guide-topic h2,
.guide-topic h3,
.guide-topic h4,
.guide-side-panel h2
{
    font-family: "Lato";
    font-size: 100%;
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
}

.guide-topic h2
{
    font-size: 160%;
}

.guide-topic h3
{
    font-size: 130%;
}

.guide-topic h3:not(:first-child)
{
    margin-top: var(--content-margin);
}

.guide-topic-anchor
{
    visibility: hidden;
    position: relative;
    top: calc(var(--header-height) * -1 - var(--content-margin));
}

.guide-topic + .guide-topic-anchor
{
    /* Vertically separate help topics from each other.*/
    margin-top: var(--content-margin);
}

.guide-topic-anchor:first-child
{
    margin-top: calc(var(--content-margin) - var(--content-top-margin));
}

.guide-tip
{
    padding: 14px;
    border: 1px solid skyblue;
    border-left-width: 8px;
    background-color: #f2f8ff;
    border-radius: 0;
}

.guide-tip::before
{
    font-family: Lato;
    margin-bottom: 5px;
    content: "Tip";
    font-weight: bold;
    display: block;
}

@media only screen and (max-width: 1500px)
{
    .guide-side-panel
    {
        left: var(--content-margin);
    }

    header
    {
        padding-left: var(--content-margin);
        padding-right: var(--content-margin);
    }

    .guide-topics
    {
        left: calc(var(--content-margin) + var(--side-panel-width));
        width: calc(100% - 60px - var(--side-panel-width));
        min-width: initial;
        max-width: initial;
    }
}

@media only screen and (max-width: 1300px)
{
    :root
    {
        --side-panel-width: 265px;
    }
}

@media only screen and (max-width: 1000px)
{
    header
    {
        justify-content: center;
        padding: 0;
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }

    .guide-side-panel
    {
        display: none;
    }

    .guide-topics
    {
        left: 0;
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 600px)
{
    .guide-topics
    {
        margin-left: 0;
        margin-right: 0;
    }

    .guide-topic
    {
        padding: 20px;
    }
}
