*
{
    /* Avoid some issues with double-clicks over the canvas initiating drags.*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body
{
    font-family: sans-serif;
    cursor: url("./client/assets/cursors/rsed-cursor-arrow.png"), auto;
    text-align: center;
    align-content: center;
    background-color: #a8a8a8;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    background-size: 20px 20px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
}

/* For the HTML5 canvas that displays RallySportED's render output.*/
.canvas
{
    background-color: transparent;
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    padding: 0;
    margin: 0;
}

/* A container for the HTML5 canvas into which RallySportED renders.*/
.canvas_container
{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#html-ui
{
    font-family: sans-serif;
    background-color: transparent;
    display: flex;
    line-height: 180%;
    width: auto;
    height: auto;
    padding: 0;
    position: absolute;
    left: 15px;
    top: 15px;
    filter: drop-shadow(0 1px 0px rgba(0, 0, 0, 0.4));
}

#html-ui #track-name-display
{
    color: white;
    font-weight: normal;
    font-size: 180%;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: "Fredoka One", sans-serif;
    transform: translateY(1px);
}

#html-ui #button-bar
{
    display: flex;
    margin-left: 16px;
    letter-spacing: 0px;
}

#html-ui .button
{
    cursor: pointer;
    color: black;
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 85%;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgb(192, 192, 192);
    background-color: rgb(170, 170, 170);
    background-image: linear-gradient(rgb(170, 170, 170), rgb(133, 133, 133));
}

#html-ui .button:hover
{
    background-color: rgba(255, 255, 255, 0.4);
    background-image: linear-gradient(rgb(190, 190, 190), rgb(133, 133, 133));
}

#html-ui .button:active
{
    border-bottom: none;
    background-image: linear-gradient(rgb(133, 133, 133), rgb(190, 190, 190));
}

#html-ui .button > a
{
    color: inherit;
    text-decoration: none;
}

#html-ui .button.stream
{
    color: inherit;
}

#html-ui .button.stream .fas
{
    color: lightgray;
}

#html-ui .button.stream.streamer,
#html-ui .button.stream.server,
#html-ui .button.stream.streamer .fas,
#html-ui .button.stream.server .fas
{
    color: white;
}

#html-ui .button.stream.initializing
{
    color: lightgray;
    cursor: not-allowed;
    pointer-events: none;
}

#html-ui .button.stream.waiting:hover
{
    background-color: inherit;
    background-image: inherit;
}

#html-ui .button.stream.waiting:active
{
    border-bottom: inherit;
    background-image: inherit;
}

#html-ui .button.left
{
    border-radius: 10px 0 0 10px;
    padding: 0 10px 0 15px;
}

#html-ui .button.middle
{
    border-radius: 0;
    padding: 0 10px 0 10px;
}

#html-ui .button.right
{
    border-radius: 0 10px 10px 0;
    padding: 0 15px 0 10px;
}

#html-ui .disclaimer
{
    font-variant: small-caps;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 90%;
    line-height: 13px;
}

#html-ui .disclaimer a
{
    color: inherit;
    text-decoration: none;
}

#html-ui .disclaimer a:hover
{
    color: white;
    text-decoration: underline;
}

.dropdown-menu
{
    font-family: sans-serif;
    cursor: pointer;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    border: none;
    z-index: 3;
    border-radius: 10px;
    display: none;
    padding: 10px;
    box-shadow: 0 5px 10px -4px black;
}

/* A left-pointing arrow on the left edge of the dropdown menu. Adapted
 * from http://www.cssarrowplease.com/.*/
.dropdown-menu:after {
	right: 99.5%;
	top: 29%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-right-color: white;
	border-width: 16px;
	margin-top: -16px;
}

.dropdown-menu > .item
{
    text-transform: capitalize;
    color: black;
    padding: 3px 20px;
    border-radius: 6px;
    white-space: nowrap;
}

.dropdown-menu > .item:hover
{
    background-color: black;
    color: white;
    box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.65);
    transform: scale(1.05);
}

.dropdown-menu.show
{
    display: block;
}

#popup-notification-container
{
    width: 360px;
    height: auto;
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
}

#popup-notification-container .popup-notification
{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 30px;
    text-align: left;
    margin-top: 8px;
    border-radius: 20px 0 20px 20px;
    word-wrap: break-word;
    color: black;
    box-shadow: 0 5px 10px -4px black;
}

#popup-notification-container > .popup-notification:not(:last-child)
{
    border-radius: 20px 0 0 20px;
    width: 95%;
    padding: 17px;
    margin-left: 20px;
    font-size: 90%;
    filter: brightness(0.87);
}

#popup-notification-container > .popup-notification:first-child
{
    border-radius: 20px 20px 0 20px;
}

#popup-notification-container > .popup-notification:only-child
{
    border-radius: 20px;
}

#popup-notification-container .popup-notification.warning
{
    color: black;
    background-color: white;
}

#popup-notification-container .popup-notification.error
{
    padding: 40px; /* More padding than in a non-error popup.*/
    color: black;
    background-color: white;
}

#popup-notification-container .popup-notification.fatal
{
    padding: 40px; /* More padding than in a non-error popup.*/
    background-color: black;
    border: 1px solid white;
    color: white;
}

#blue-screen
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999; /* Above everything else.*/
    cursor: initial; /* Remove RallySportED-js's own cursor graphic.*/
    display: none; /* Will be displayed when a fatal error occurs.*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    color: rgb(210, 210, 210);
}

#blue-screen > *
{
    transform: translateY(-20vh);
}

#blue-screen h1
{
    font-size: 200%;
    font-weight: bold;
}

#blue-screen #error-description
{
    font-size: 100%;
    color: white;
    font-style: italic;
    margin-top: 5px;
}

#blue-screen #error-description::before
{
    content: "Error: ";
}

[v-cloak]
{
    display: none !important;
}

.animation-flip
{
    animation-name: animation-flip-frames;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
}

.animation-popup-slide-in
{
    animation-name: animation-popup-slide-in-frames;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
}

@keyframes animation-flip-frames
{
    0% { transform: rotateX(90deg); }
    100% { transform: rotateX(0deg); }
}

@keyframes animation-popup-slide-in-frames
{
    0% { opacity: 0; transform: translateX(20px); }
    100% { opacity: 1; transform: translateX(0px); }
}

@media only screen and (max-width: 1300px)
{
    #popup-notification-container
    {
        bottom: 30px;
        right: 30px;
    }
}

@media only screen and (max-width: 850px)
{
    #html-ui
    {
        flex-direction: column;
        text-align: left;
    }

    #html-ui > #button-bar
    {
        margin-left: 0;
        margin-top: 6px;
    }

    #popup-notification-container
    {
        bottom: 10px;
        right: 10px;
    }
}

@media only screen and (max-width: 600px)
{
    #popup-notification-container
    {
        bottom: 10px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 90%;
    }
}

@media only screen and (max-width: 550px)
{
    #html-ui
    {
        flex-direction: column;
        text-align: left;
    }

    #html-ui > #button-bar
    {
        /* TODO: Instead of hiding, show the button bar as an expanding menu button or the like.*/
        display: none;
    }
}

@media only screen and (max-width: 450px)
{
    #popup-notification-container
    {
        border-radius: 0;
        bottom: 0;
        right: 0;
        transform: none;
        width: 100%;
    }

    #popup-notification-container > .popup-notification,
    #popup-notification-container > .popup-notification:not(:last-child),
    #popup-notification-container > .popup-notification:first-child,
    #popup-notification-container > .popup-notification:only-child
    {
        border-radius: 0;
    }
}
