:root
{
    --header-height: 65px;
    --side-panel-width: 280px;
    --topics-width: 810px;
    --content-margin: 20px;
    --header-bottom-margin: 23px;
    --topics-top-margin: calc(35px - var(--header-bottom-margin));
    --embedded-element-border-radius: 8px;

    /* Margins on the left and right of the page outside of which no content
     * is allowed.*/
    --page-vertical-margin: calc(50% - var(--topics-width)/2 - var(--side-panel-width) - var(--content-margin));
}

a
{
    text-decoration: none;
    color: inherit;
}

a:hover
{
    text-decoration: underline;
}

body
{
    font-family: sans-serif;
    text-align: center;
    align-content: center;
    background-color: white;
    color: black;
    padding: 0;
    margin: 0;
}

.dokki0-hidden
{
    display: none !important;
}

[data-v-app] > [while-dokki-initializing]
{
    display: none;
}

.dokki-tag
{
    margin-top: var(--content-margin);
    font-size: 80%;
    color: gray;
}

.dokki-header,
[while-dokki-initializing]
{
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    background-color: whitesmoke;
    padding-left: var(--page-vertical-margin);
    padding-right: var(--page-vertical-margin);
    text-align: left;
    font-weight: normal;
    font-size: 160%;
    white-space: normal;
    height: var(--header-height);
    position: fixed;
    width: 100%;
}

[while-dokki-initializing]
{
    font-size: unset;
    font-weight: normal;
    color: gray;
}

.dokki-header .software-tag
{
    margin-left: auto;
    font-size: 60%;
    font-weight: normal;
}

.dokki-side-panel
{
    border-right: 1px solid lightgray;
    box-sizing: border-box;
    position: fixed;
    z-index: 0;
    top: var(--header-height);
    left: var(--page-vertical-margin);
    background-color: transparent;
    width: var(--side-panel-width);
    text-align: left;
    padding-top: var(--header-bottom-margin);
    overflow-y: auto;
    height: calc(100% - var(--header-height));
    padding-bottom: var(--content-margin);
}

.dokki-side-panel ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dokki-side-panel li
{
    counter-increment: line;
    padding-bottom: 4px;
    padding-top: 4px;
}

.dokki-side-panel li a
{
    padding-bottom: 4px;
    padding-top: 4px;
}

.dokki-side-panel li::before
{
    content: counter(line) ". ";
}

.dokki-side-panel li:first-of-type
{
    padding-top: 0;
}

.dokki-topics
{
    margin: var(--content-margin);
    margin-top: calc(var(--header-height) + var(--header-bottom-margin) - 1px);
    margin-left: 5px;
    width: var(--topics-width);
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    position: relative;
    left: calc(50% - var(--topics-width)/2);
    top: 0;
    z-index: 0;
}

.dokki-topic
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.dokki-topic p
{
    line-height: 1.5;
}

.dokki-topic p a
{
    color: #00ade6;
}

.dokki-topic:last-of-type
{
    padding-bottom: 0;
}

.dokki-topic li
{
    margin-top: 10px;
}

.dokki-topic > *:last-of-type
{
    margin-bottom: 0;
}

.dokki-topic .permalink
{
    display: none;
    padding-left: 5px;
    color: lightgray;
}

.dokki-topic .permalink:hover
{
    color: gray;
}

.dokki-topic:hover .permalink
{
    display: inline-block;
}

.dokki-topic h1,
.dokki-topic h2,
.dokki-topic h3,
.dokki-side-panel h2
{
    font-size: 100%;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.dokki-topic h1
{
    display: inline-block; /* To allow permalink icons next to the h2 heading.*/
    font-size: 160%;
}

.dokki-topic h2
{
    font-size: 130%;
}

.dokki-topic h2:not(:first-child)
{
    margin-top: var(--content-margin);
    margin-bottom: 16px;
}

.dokki-topic h3
{
    display: inline-block;
    font-weight: bold;
}

.dokki-topic-anchor
{
    visibility: hidden;
    position: relative;
    top: calc(var(--header-height) * -1 - var(--content-margin) + var(--topics-top-margin) + 1px);
}

.dokki-topic-anchor:first-child
{
    margin-top: calc(var(--content-margin) - var(--header-bottom-margin) - var(--topics-top-margin));
}

.dokki-text-block-with-line-numbers
{
    font-family: monospace;
    white-space: pre;
}

.dokki-text-block-with-line-numbers .line-number
{
    color: gray;
    user-select: none;
}

.dokki-checker-background
{
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.025) 25%, transparent 25%),
                      linear-gradient(-45deg, rgba(0, 0, 0, 0.025) 25%, transparent 25%),
                      linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.025) 75%),
                      linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.025) 75%);
    background-size: 40px 40px;
    background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
}

.dokki-embedded
{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: var(--embedded-element-border-radius);
    overflow: hidden;
}

.dokki-embedded > header
{
    font-weight: normal;
    padding: 6px;
    padding-left: 14px;
    padding-right: 14px;
}

.dokki-embedded > header.clickable
{
    display: flex;
    align-items: baseline;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    background-color: #f6f6f6;
}

.dokki-embedded > header > .title > .fas,
.dokki-embedded > header > .title > .far,
.dokki-embedded > header > .title > .fab
{
    margin-right: 2px;
}

.dokki-embedded > footer
{
    padding: 8px;
    padding-left: 14px;
    padding-right: 14px; 
}

.dokki-embedded > footer.italic
{
    font-style: italic;
}

.dokki-embedded > footer.italic > i
{
    font-style: normal;
}

.dokki-embedded > footer > *:only-child
{
    margin-top: 0;
    margin-bottom: 0;
}

.dokki-embedded > header > .revealer
{
    margin-left: 10px;
    color: #00ade6;
    font-weight: normal;
    display: inline-block;
    margin-left: auto;
    font-variant: small-caps;
    text-transform: lowercase;
}

.dokki-embedded > hr
{
    padding: 0;
    margin: 0;
    border: none;
    border-top: 1px solid lightgray;
    width: 100%;
}

.dokki-embedded > hr + hr
{
    display: none;
}

.dokki-embedded.dokki-iframe > footer
{
    padding: 0;
}

.dokki-embedded.dokki-iframe > footer > iframe
{
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border: none;
}

.dokki-embedded.dokki-table > header .title::after
{
    content: " Table";
}

.dokki-embedded.dokki-table > .table-container
{
    overflow: auto;
    border-top: 1px solid lightgray;
}

.dokki-embedded.dokki-table > .table-container table
{
    width: 100%;
    border-spacing: 0;
    border-bottom: none;
    padding: 0;
    border-collapse: collapse;
}

.dokki-embedded.dokki-table > .table-container table td,
.dokki-embedded.dokki-table > .table-container table th
{
    padding: 8px;
    border: none;
    white-space: nowrap;
}

.dokki-embedded.dokki-table > .table-container table tr
{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.dokki-embedded.dokki-table > .table-container table tr:first-child
{
    border-top: none;
}

.dokki-embedded.dokki-table > .table-container table tr:last-child
{
    border-bottom: none;
}

.dokki-embedded.dokki-table > .table-container table th
{
    background-color: #f6f6f6;
    font-weight: normal;
}

.dokki-embedded.dokki-table > .table-container table td:not(:last-child),
.dokki-embedded.dokki-table > .table-container table th:not(:last-child)
{
    border-right: 1px solid lightgray;
}

.dokki-embedded.dokki-table > .table-container table td:last-child,
.dokki-embedded.dokki-table > .table-container table th:last-child
{
    width: 100%;
}

.dokki-embedded.dokki-video
{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
}

.dokki-embedded.dokki-video.youtube > iframe
{
    min-width: 100%;
    max-width: 100%;
    height: 450px;
    border: none;
}

.dokki-embedded.dokki-video > header .title::after
{
    content: " Video";
}

.dokki-embedded.dokki-console
{
    border-color: black;
}

.dokki-embedded.dokki-console > header
{
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
}

.dokki-embedded.dokki-console > header .title
{
    margin-right: 7px;
}

.dokki-embedded.dokki-console > header .command
{
    font-family: monospace;
}

.dokki-embedded.dokki-console > footer
{
    padding-left: 10px;
}

.dokki-embedded.dokki-tip
{
    border-color: deepskyblue;
    background-color: #f2f8ff;
}

.dokki-embedded.dokki-tip > header
{
    color: white;
    background-color: deepskyblue;
}

.dokki-embedded.dokki-tip > header .title::after
{
    content: " Tip";
}

.dokki-embedded.dokki-warning
{
    border-color: #ff7838;
    background-color: #fff2ec;
}

.dokki-embedded.dokki-warning > header
{
    color: white;
    background-color: #ff7838;
}

.dokki-embedded.dokki-warning > header .title::after
{
    content: " Warning";
}

.dokki-embedded.dokki-output
{
    border-color: lightgray;
}

.dokki-embedded.dokki-code.has-output + .dokki-embedded.dokki-output
{
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dokki-embedded.dokki-output > footer
{
    padding: 14px;
}

.dokki-embedded.dokki-output > footer > *:first-child
{
    margin-top: 0;
}

.dokki-embedded.dokki-output > footer > *:last-child
{
    margin-bottom: 0;
}

.dokki-embedded.dokki-code
{
    border-color: #ffe318;
    background-color: #fffce2;
}

.dokki-embedded.dokki-code.has-output
{
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.dokki-embedded.dokki-code > header
{
    color: black;
    background-color: #ffe318;
}

.dokki-embedded.dokki-code > footer
{
    font-size: 110%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    overflow: auto;
}

.dokki-embedded.dokki-code > footer table
{
    font-family: monospace;
    white-space: pre;
}

.dokki-embedded.dokki-code > footer table .line-number
{
    color: gray;
    user-select: none;
}

.dokki-embedded.dokki-image
{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
}

.dokki-embedded.dokki-image > img
{
    min-height: 20px;
    min-width: 100%;
    max-width: 100%;
}

.dokki-embedded.dokki-image > header .title::after
{
    content: " Image";
}

@media only screen and (max-width: 1500px)
{
    :root
    {
        --topics-width: 710px;
    }
}

@media only screen and (max-width: 1350px)
{
    :root
    {
        --side-panel-width: 240px;
        --topics-width: 610px;
    }
}

@media only screen and (max-width: 1200px)
{
    :root
    {
        --page-vertical-margin: 30px;
    }

    .dokki-topics
    {
        left: calc(var(--page-vertical-margin) + var(--side-panel-width) + var(--content-margin));
        width: calc(90% - var(--side-panel-width) - var(--page-vertical-margin));
        margin-left: 0;
    }
}

@media only screen and (max-width: 1050px)
{
    :root
    {
        --page-vertical-margin: 25px;
    }

    .dokki-topics
    {
        width: calc(100% - var(--side-panel-width) - var(--page-vertical-margin) - var(--content-margin) * 2);
    }
}

@media only screen and (max-width: 900px)
{
    :root
    {
        --page-vertical-margin: 20px;
        --side-panel-width: 220px;
    }
}

@media only screen and (max-width: 800px)
{
    :root
    {
        --page-vertical-margin: 10px;
        --side-panel-width: 0;
    }

    .dokki-header
    {
        position: absolute;
    }

    .dokki-side-panel
    {
        display: none;
    }

    .dokki-topic
    {
        padding-left: 0;
        padding-right: 0;
    }

    .dokki-topics
    {
        left: var(--page-vertical-margin);
        margin-left: 0;
        padding-left: 0;
    }
}

@media only screen and (max-width: 600px)
{
    :root
    {
        --header-height: 80px;
        --header-bottom-margin: 25px;
    }

    .dokki-header .software-tag
    {
        display: none;
    }
}
